.about{
    width: 100%;
    background-color: #ffffff;
    padding: 80px 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about div{
    max-width: 50%;
    padding-right: 40px;
}

.about img{
    max-width: 450px;
    border-radius: 8px;
}